<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="registro_usuarios">
    <div class="formulario_contenido">
      <h1 class="titulo">Registro Usuarios</h1>
      <form class="registrar_formulario" method="POST">
        <label class="campo_label parrafo_formulario" for="Usuario">Documento ID</label>
        <input class="campo_input parrafo_formulario" type="text" name="Usuario" placeholder="" required>
        
        <label class="campo_label parrafo_formulario" for="Nombre">Nombres</label>
        <input class="campo_input parrafo_formulario" type="text" name="Nombre" placeholder="" required>
        
        <label class="campo_label parrafo_formulario" for="Celular">Celular</label>
        <input class="campo_input parrafo_formulario" type="tel" name="Celular" placeholder="" required>
        
        <label class="campo_label parrafo_formulario" for="Correo">Correo</label>
        <input class="campo_input parrafo_formulario" type="email" name="Correo" placeholder="" required>
        
        <label class="campo_label parrafo_formulario" for="Especialidad">Especialidad</label>
        <input class="campo_input parrafo_formulario" type="email" name="Especialidad" placeholder="" required>
        
        <input type="submit" class="boton parrafo_formulario" value="Registrar">
      </form>
    </div>
  </div>
  
</body>
</html>

      
          
