<!-- {% extends 'views/base.html' %} -->

<!-- {% block contenido %} -->

  
  <h1 class="titulo">Usuarios</h1>

  <div class="enlace_registro">
    <a href="{% url 'registro_usuarios' %}" class="boton parrafo_formulario">Registrar Usuarios</a>
  </div>

  <div class="formulario_filtro">

    <h2 class="subtitulo">Filtrar por:</h2>
    <form method="GET">
        <label class="campo_label" for="">Documento</label>
        <input type="number" class="campo_input">
        
        <label class="campo_label" for="">Nombre</label>
        <input type="text" class="campo_input">
        
        <label class="campo_label" for="">Especialidad</label>
        <input type="text" class="campo_input">
        
        <input type="submit" class="boton parrafo_blanco" value="Buscar">
    </form>

  </div>
    
      
  <section class="lista">
    <table class="tabla" border-collapsed="2px">
      
      <tr class="fila_titulo">
        <th class="celda_nombre subantesubtitulo">ID</th>
        <th class="celda_nombre subantesubtitulo">Nombre</th>
        <th class="celda_nombre subantesubtitulo">Documento ID</th>
        <th class="celda_nombre subantesubtitulo">Celular</th>
        <th class="celda_nombre subantesubtitulo">Correo</th>
        <th class="celda_nombre subantesubtitulo">Especialidad</th>
        <th class="celda_nombre subantesubtitulo" colspan="2">Acciones</th>
      </tr>
      
      
      {% for u in user %}
      <tr class="fila_datos">
        <td class="celda_info parrafo"></td>
        <td class="celda_info parrafo"></td>
        <td class="celda_info parrafo"></td>
        <td class="celda_info parrafo"></td>
        <td class="celda_info parrafo"></td>
        <td class="celda_info parrafo"></td>
        <td class="celda_enlace"><a href="" class="enlace_lista">Editar</a></td>
        <td class="celda_enlace"><a href="" class="enlace_lista">Eliminar</a></td>
      </tr>
      {% endfor %}
      

    </table>

    <a href="{% url 'usuarios' %}" class="boton parrafo_formulario" download="">Descargar Archivo PDF</a>
    <a href="{% url 'usuarios' %}" class="boton parrafo_formulario" download="">Descargar Archivo Excel</a>

  </section>


  

<!-- {% endblock  %} -->
        