:root{
    --fuente: "Roboto", sans-serif;

    --azul_oscuro:#265361;
    --azul_medio:#4395AD;
    --azul_neutro:#58C0E0;
    --azul_claro:#BBEBFA;
    --amarillo: #F5A900;
    --gris:#4A5D63;
    --blanco: #fff;
    --negro: #000;
    --negro_sombreado: #0004;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before *:after{
    box-sizing: inherit;
} 

.contenedor{
    width: min(90% 120rem);
    margin: 0 auto;
    padding: 20px 50px;
}

@media (max-width:768px){
    .contenedor{
        padding: 20px 20px;
    }
}

.titulo{
    margin: 10px 0 50px;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 6rem;
    color:red;
}

.subtitulo{
    margin: 10px 0 30px;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 4rem;
    color: var(--azul_oscuro);
}

.antesubtitulo{
    margin: 10px 0 20px;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--azul_oscuro);
}

.subantesubtitulo{
    margin: 10px 0 10px;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--azul_oscuro);
}

.parrafo{
    padding: 0 0 0 20px;
    font-family: var(--fuente);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--negro);
    line-height: 2.8rem;
}

